$base-font-family-system: (
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  ) !default;
$base-font-family-en: (
  "Segoe UI",
  Roboto,
  Ubuntu,
  "Helvetica Neue",
  Helvetica,
  Arial,
  ) !default;
$base-font-family-cn: (
  "PingFang SC",
  "Hiragino Sans GB",
  "Microsoft YaHei",
  "Lantinghei SC",
  "WenQuanYi Micro Hei",
  "Source Han Sans SC",
  ) !default;
