@import './_variables.scss';

html {
  min-width: 320px;
  min-height: 100vh;
}
html, body {
  font-family: $base-font-family-system, $base-font-family-en, $base-font-family-cn;
}
body {
  font-size: .14rem;
  line-height: 1.5;
}
*, *:before, *:after {
  box-sizing: border-box;
}

li {
  list-style: none;
}
 button {
   border: 0;
   outline: 0;
 }
 a {
   text-decoration: none;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
 }

